.header {
  background: $off-black;
  color: white;
  margin-bottom: $m-size;
  padding: $m-size 0;
}

//BEM - Block Element Modifier

.header__title {
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  font-size: $m-size;
  margin: 0;
  color: $off-white;
  font-weight: 500;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
  } 
}
